[Unit]
Description = staffeln conductor  service
After = cinder-backup.service
After = syslog.target

[Service]
Type = simple
User = staffeln
Group = staffeln
ExecStart = /openstack/venvs/cinder-21.2.6.dev1/bin/cinder-backup
ExecReload = /bin/kill -HUP $MAINPID
# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec = 120
Restart = on-failure
RestartSec = 2
# This creates a specific slice which all services will operate from
#  The accounting options give us the ability to see resource usage through
#  the `systemd-cgtop` command.
Slice = staffeln.slice
# Set Accounting
CPUAccounting = True
BlockIOAccounting = True
MemoryAccounting = True
TasksAccounting = True
# Set Sandboxing
PrivateTmp = False
PrivateDevices = False
PrivateNetwork = False
PrivateUsers = False
Environment = PATH=/openstack/venvs/cinder-21.2.6.dev1/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
WantedBy = multi-user.target
